body { margin:0; font-family:Arial; }

/* LOGIN */
.bg {
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(180deg,#2563EB,#031e57);
}

.login-box {
    background:white;
    padding:30px;
    border-radius:20px;
    width:300px;
    text-align:center;
}

input {
    width:90%;
    padding:10px;
    margin:8px 0;
    border-radius:8px;
    border:1px solid #ccc;
}

button {
    padding:10px;
    background:#2563EB;
    color:white;
    border:none;
    border-radius:5px;
}

.error { color:red; }

/* HEADER */
header {
    background:#2f5fd0;
    color:white;
    display:grid;
    grid-template-columns:60px 1fr 80px;
    padding:10px;
    align-items:center;
}

header h1 { text-align:center; font-size:20px; }

main { padding:15px; }

.card {
    background:#ddd;
    padding:12px;
    margin-bottom:10px;
    border-radius:10px;
    cursor:pointer;
}

.areaAluno {
  display: none;
  margin-top: 10px;
}

/* DESEMPENHO */
.resumo { text-align:center; }

.barra-geral {
    background:#ddd;
    height:10px;
    border-radius:20px;
    width:70%;
    margin:5px auto;
}

.barra {
    background:#eee;
    height:8px;
    border-radius:20px;
}

.fill {
    height:8px;
    border-radius:20px;
}

.topo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #2f5cc8;
  padding: 10px 20px;
}

.titulo-header {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.logo-header {
  width: 50px; /* ajuste ideal */
  height: auto;
}

.btn-header {
  background: #3d6ae0;
  border: none;
  color: white;
  padding: 15px 20px;
  border-radius: 12px;
  cursor: pointer;
}
